.form-control {
    height:40px;
}

.navbar-brand {
    color:white;
    font-weight: bolder;
}

.shopping-list {
    font-weight: bolder;
}

.favorites {
    font-weight: bolder;
}

body {
    font-size: 16px;
}
