body {
  background-image: url("/static/img/homepagebg-copy.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #a6a6a6;
}
.container-search {
    position: fixed;
    top: 50%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
}

#ingredient-search {
    height:40px;
    width:500px;
}

input[type="text"] {
    font-size:24px;
}
