<!doctype html>
<html>
<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <!-- <link rel="stylesheet" href="/static/css/site.css"/> -->

    <title>{% block title %} Recipe Finder {% endblock title %}</title>  <!-- Change title --> 
</head>

<body>
    <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">Recipe Finder</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/shopping-list">
                        <img class="shopping-list">
                        Shopping List
                    </a>
                </li>
                <li>
                    <a href="/favorites">
                        <img class="saved-recipes">
                        Favorites
                    </a>
                </li>

            </ul>
        </div>

    </div>
</div>

<div class="container">
  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}


    
    {% block content %}
        NO ONE WILL SEE THIS
    {% endblock %}
</body>
</html>
