{% extends 'base.html' %}
    <head>
        {% block head %}
            <link rel="stylesheet" href="/static/css/homepagedb.css"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
            <title>{% block title %} {% endblock title %}</title>
        {% endblock %}
    </head>

{% block content %}
    <body class="homepage">
        <div class="container-search">
            <form action="/search-results">
                <input type="text" class="form-control" name="ingredient" id="ingredient-search" placeholder="e.g. chicken apple"><br>
                
                <label for="dropdown-diet"></label><br>
                <select class="selectpicker" name="diet">
                    <option value="any">Select Diet</option>
                    <option value="vegan">Vegan</option>
                    <option value="vegetarian">Vegetarian</option>
                </select><br>
                <!-- <input type="submit" style="visibility: hidden;"> -->
            </form>
        </div>
    </body>

{% endblock %}