<!-- Homepage with search field for ingredients that will be used to query db. -->

{% extends 'base.html' %}

{% block content %}
    <form action="/search-results">
        <label for="field-search">Enter ingredient(s): </label><br> 
            <input type="text" name="ingredient" id="ingredient-search"><br>

        <label for="dropdown-diet"> Diet: </label><br>
        <select name="diet">
            <option value="any">Any</option>
            <option value="paleo">Paleo</option>
            <option value="pescetarian">Pescetarian</option>
            <option value="primal">Primal</option>
            <option value="vegan">Vegan</option>
            <option value="vegetarian">Vegetarian</option>
        </select><br>
        <input type="submit">

    </form>
{% endblock %}