{% extends 'base.html' %}

{% block content %}
    <head>
        <title>{% block title %} {{ recipe.title }} {% endblock title %}</title>
    
        <style>
           /* .blue is to change the ingredient name when user clicks on it. */
            .blue {
                color: blue;
            }
        </style>

    </head>

    <body>
        <!-- Display recipe title, image, measurements and respective ingredients, and instructions. -->
            <h1 class="recipe_title"> {{ recipe.title }} </h1><br>
            
            <img class="recipe_image" id="{{recipe.recipe_id}}" src={{ recipe.image }}><br><br>

            <p class="shopping_list_tip"> Don't have an ingredient? Just click on the ingredient to add it to your shopping list. To remove the ingredient from your list, click on the ingredient again.</p><br>

            {% for measurement, ingredient_id, ingredient in measurements_ingredients %}  <!-- measurements_ingredients is a list of measurement, ingredient_id, ingredient tuples -->
                {{ measurement }} 
                <span class="ingredient" id="{{ ingredient_id }}" name="{{ ingredient }}">{{ ingredient }}</span><br>
                
            {% endfor %}<br>

            {{ instructions }}<br>

    </body>




    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/click-ingredients.js"></script>

{% endblock %}

