{% extends 'base.html' %}

{% block content %}
    <head>
        <link rel="stylesheet" href="/static/css/recipe.css"/>
        <title>{% block title %} {{ recipe.title }} {% endblock title %}</title>
    </head>

    <body>
        <!-- Display recipe title, image, measurements and respective ingredients, and instructions. -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title recipe-title {{ recipe.recipe_id }}"> {{ recipe.title }} </h3>
            </div>
            <div class="panel-body">
                <img class="img-rounded img-responsive center-block recipe-image" alt='{{ recipe.title }}' id="{{ recipe.recipe_id }}" src={{ recipe.image }}><br><br>
                    <button type="button" class="btn btn-default btn-md favorite-recipe" id="{{ recipe.recipe_id }}">
                        <span class="" aria-hidden="true"></span> Add to Favorites
                    </button>   
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Ingredients</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- measurements_ingredients is a list of measurement, ingredient_id, ingredient tuples -->
                            {% for measurement, ingredient_id, ingredient in measurements_ingredients %} 
                            <tr>
                                <td><button type="button" class="btn btn-default btn-xs" id="{{ ingredient_id }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> {{ measurement }} {{ ingredient }} </td>
                            </tr>
                            {% endfor %}<br> 
                        </tbody>
                    </table>
            <div class="panel-body">
                {{ instructions }}
            </div>
          </div>
        </div>
    </body>



    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/add_ingredients.js"></script>
    <script src="/static/add_recipes.js"></script>



{% endblock %}
