<!-- Search results with recipes containing ingredient(s) of interest. -->

{% extends 'base.html' %}
    <head>
        <title>{% block title %} Results {% endblock title %}</title>
    </head>
{% block content %}


            {% if recipes %}  <!--If there are recipes found with input ingredients then iterate through the list of recipe objects. -->
               <ol>
                {% for recipe in recipes %}  <!-- Iterate through the list of lists of recipe objects -->
                     <li>{{ recipe.title }}</li>
                        <a href="/recipe/{{ recipe.recipe_id }}"><img class="recipe_image" id={{ recipe.recipe_id }} src="{{recipe.image}}" height="250" width="300"></a>   
                {% endfor%}  
                </ol>
            {% else %}
                No recipes found
            {% endif%}

{% endblock %}
