<!-- Search results with recipes containing ingredient(s) of interest. -->
{% extends 'base.html' %}
    <head>
       {% block head %} 
            <link rel="stylesheet" href="/static/css/search_resultsdb.css"/>
            <title>{% block title %} Results {% endblock title %}</title>    
       {% endblock %}

    </head>
    
{% block content %}
    <body>
        {% if recipes %}  <!--If there are recipes found with input ingredients then iterate through the list of recipe objects. -->
        <div class="container">
            <div class="row">
                {% for recipe in recipes %}  <!-- Iterate through the list of lists of recipe objects. -->
                    <!-- Truncate recipe title if it is greater than 40 characters. -->
                    <div class="col-md-4"><div class="recipe-title"><a href="/recipe/{{ recipe.recipe_id }}">
                        {{ recipe.title|truncate(40) }}</a></div>
                        <a href="/recipe/{{ recipe.recipe_id }}"><img class="recipe_image" 
                            id={{ recipe.recipe_id }} src="{{recipe.image}}"></a>
                    </div>
                {% endfor%}  
            </div>
        </div>
        {% else %}
            <div class="container-fluid">        
                <h3> No recipes found </h3>
            </div>
        {% endif%}
    </body>
{% endblock %}
 <!-- height="250" width="300" -->