{% extends 'base.html' %}
<head>
    <title>{% block title %} Shopping List {% endblock title %}</title>
</head>

{% block content %}
<body> 
    <h2> Shopping List </h2>
    {% if shopping_list %}
        <h3> Ingredients to buy: </h3>
        <ol>
            {% for ingredient in shopping_list %}
                <span class="ingredient" id="{{ ingredient[0] }}">
                    <li> {{ ingredient[1] }}
           <!--              <button type="button" class="remove-item" id="{{ ingredient[0] }}"/>  -->
                        <button type="button" class="btn btn-default btn-xs remove-item"
                        id="{{ ingredient[0] }}">
                              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </li> 
                </span> 
            {% endfor %}
            <br>
        </ol>
    {% else %}
        <h4> No ingredients found in your shopping list. </h4>
    {% endif %}

</body>


<script src="https://code.jquery.com/jquery.js"></script>    
<script src="/static/remove_ingredients.js"></script>


{% endblock content %}
