{% extends 'base.html' %}


{% block content %}
<body> 
    {% if shopping_list %}
        <h2> Ingredients to buy: </h2>
        <ol>
            {% for ingredient in shopping_list %}
                <span class="ingredient" id="{{ ingredient[0] }}">
                    <li> {{ ingredient[1] }}
                        <input type="button" class="remove-item" id="{{ ingredient[0] }} "value="X"/> 
                    </li> 
                </span> 
            {% endfor %}
            <br>
            <form action="/send-sms">  <!-- In the future, evt.preventdefault to have modal window.-->
                <input type="submit" value="Send 'Shopping List' to my phone">
            </form>
        </ol>
    {% else %}
        <h3> No ingredients found in your shopping list. </h3>
    {% endif %}

</body>


<script src="https://code.jquery.com/jquery.js"></script>    
<script src="/static/remove_ingredients.js"></script>


{% endblock content %}
