{% extends 'base.html' %}
<head>
    {% block head %}
        <title>{% block title %} Shopping List {% endblock title %}</title>
    {% endblock %}
</head>

{% block content %}
<body> 
    <h2> Shopping List </h2>
    {% if shopping_list %}
        <table class="table">
            <thead>
                <th><h4>Ingredients to buy:</h4></th>
            </thead>
            <tbody>
            {% for ingredient in shopping_list %}
                <tr>
                    <td>
                        <span class="ingredient" id="{{ ingredient[0] }}">{{ ingredient[1] }}
           <!--              <button type="button" class="remove-item" id="{{ ingredient[0] }}"/>  -->
                        <button type="button" class="btn btn-default btn-xs remove-item" id="{{ ingredient[0] }}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button></span>
                    </td> 
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <br><h4> No ingredients found in your shopping list. </h4>
    {% endif %}

</body>


<script src="https://code.jquery.com/jquery.js"></script>    
<script src="/static/remove_ingredients.js"></script>


{% endblock content %}
